.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
}

.buttonContainer {
  position: absolute;
  top: 0;
  left: 16px;
  width: auto;
  padding: 12px 0;
}

.button {
  display: block;
  width: 26px;
  height: 26px;
}

.title {
  font-size: 18px;
  line-height: 27px;
  font-weight: 900;
}
