.tabContainer {
  padding: 5px 20px;
}

.tabUl {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
}

.tabLi {
  width: 100%;
}

.tabButtonActive {
  height: 40px;
  background-color: #222;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.tabButton {
  height: 40px;
}

.tabText {
  display: block;
  font-size: 14px;
  line-height: 20px;
}
